header{
    text-align: center;
}

body{
    text-align: left;
}

h1 {
    color:#BB00EE;
    margin-bottom: 50px;
    padding : 2px 2px 2px 2px;

    border-bottom: 2px solid #0000FF;
}

h2{                                                                                                                                                                                                                                                       
    color : #EE0000;
    padding-top: 20px;
    padding-right: 6px;
    padding-bottom: 2px;
    padding-left: 2px;

    border-bottom: 2px solid #FFCCCC
}

h3{
    color : #EE6010;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 2px;

    border-bottom: 2px solid #FFCCCC
}


ul{

    margin-left: 20px; 
    padding : 0px 0px 0px 50px;
}

ol{
    margin-left: 20px; 
    padding : 0px 0px 0px 50px;
}
li {
    font-size: 50 px;
    margin-bottom: 10px;
}
.nav {
    display : inline;
    padding : 0px 0px 0px 50px;
}

body {
    background-color: #AABBFF;
    padding : 20px 20px 20px 20px ;
}

a:hover{
text-decoration: underline;
color: darkgoldenrod;
}